{% extends 'base.html.twig' %}

{% block title %}Recherche Laboratoire{% endblock %}

{% block body %}

    {{ encore_entry_link_tags('rechlabo_css') }}
    <div class="container mt-5" data-controller="recherche-labo-spinner">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form_start(form, {'attr': {'data-recherche-labo-spinner-target': 'form', 'data-action': 'submit->recherche-labo-spinner#showSpinner'}}) }}
                    <div class="mb-3">
                        {{ form_label(form.dci, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.dci, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.dci) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.denomination, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.denomination, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.denomination) }}
                    </div>
                    <div class="mb-3">
                        {{ form_widget(form.recherche, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                {{ form_end(form) }}
                <div class="text-center mt-3" data-recherche-labo-spinner-target="spinner">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="mt-2">Recherche en cours ...</div>
                </div>
            </div>
        </div>
    </div>

<div class="page_liste_medic">
    <div class="row mt-4">
        <div class="col-md-12">
            {# <h2>Résultats de la recherche</h2> #}
            {% if medics is not empty %}

                <p>Nombre de médicaments trouvés : {{ NbMedics }}</p>
                <ul class="list-group">
                    {% for medic in medics %}
                        <li class="list-group-item">
                            {# <strong>{{ medic.nomVU }}</strong> - {{ medic.dbo_ClasseATC_libAbr }} - {{ medic.codeCIS }} - {{ medic.nomSubstance }} #}
                            <strong>{{ medic.nomVU }}</strong> - CodeATC : {{ medic.dbo_ClasseATC_libAbr }} - CodeCIS : {{ medic.codeCIS }}<br>
                            <span class="text-muted">Substances : {{ medic.substances|join(', ') }}</span>




                            <div class="container-fluid ps-1 pe-1">
                                <div class="row">
                                    <div class="col-1 fw-bold">
                                        Exploitant
                                    </div>
                                    <div class="col-2">
                                        {{ medic.nomActeurLong }}
                                    </div>
                                    <div class="col-3">
                                        {{ medic.adresse }}
                                    </div>
                                    <div class="col-1">
                                        {{ medic.adresseComplExpl }}
                                    </div>
                                    <div class="col-1">
                                        {{ medic.codePostExpl }}
                                    </div>
                                    <div class="col-2">
                                        {{ medic.nomVilleExpl }}
                                    </div>
                                    <div class="col-1">
                                        {{ medic.tel }}
                                    </div>
                                    <div class="col-1">
                                        {{ medic.fax }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1 fw-bold">
                                        Titulaire
                                    </div>
                                    <div class="col-2">
                                        {{ medic.nomContactLibra }}
                                    </div>
                                    <div class="col-3">
                                        {{ medic.adresseContact }}
                                    </div>
                                    <div class="col-1">
                                        {{ medic.adresseCompl }}
                                    </div>
                                    <div class="col-1">
                                        {{ medic.codePost }}
                                    </div>
                                    <div class="col-2">
                                        {{ medic.nomVille }}
                                    </div>
                                    <div class="col-1">
                                        {{ medic.telContact }}
                                    </div>
                                    <div class="col-1">
                                        {{ medic.faxContact }}
                                    </div>
                                </div>
                            </div>


                        </li>
                        {# {{ dump(medic) }} #}





                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun résultat trouvé.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
